
{{ kint(content) }}

{#//template#}
{#<div class="section_node">#}
  {#<div class="section-image">#}
    {#{{ content.field_twig_image }}#}
  {#</div>#}
  {#<div class="section-title">#}
    {#{{ content.field_twig_title }}#}
  {#</div>#}
  {#<div class="section-body">#}
    {#{{ content.body }}#}
  {#</div>#}
{#</div>#}