<html>
<head>
</head>
<body>

<p>Hello <span class="bg_focus">      {{ name }}      </span></p>
<p>Username: <span class ="bg_focus">   {{ username }}     </span></p>
<p>Password: <span class ="bg_focus">   {{ password }}     </span></p>

</body>
</html>